[project]
	description = Beautifies javascript and replaces variable names with unique 
[access "refs/*"]
	owner = group user/r2fresh (r2fresh)
[access "refs/for/refs/*"]
	read = group user/r2fresh (r2fresh)
	push = group user/r2fresh (r2fresh)
	label-Code-Review = -2..+2 group user/r2fresh (r2fresh)
	label-Verified = -1..+1 group user/r2fresh (r2fresh)
	rebase = group user/r2fresh (r2fresh)
	removeReviewer = group user/r2fresh (r2fresh)
	submit = group user/r2fresh (r2fresh)
[access "refs/heads/*"]
	read = group user/r2fresh (r2fresh)
	create = group user/r2fresh (r2fresh)
	push = +force group user/r2fresh (r2fresh)
	pushMerge = group user/r2fresh (r2fresh)
[access "refs/tags/*"]
	push = +force group user/r2fresh (r2fresh)
	pushTag = group user/r2fresh (r2fresh)
	pushSignedTag = group user/r2fresh (r2fresh)
